.navbar {
	margin-bottom: 0;
}

.masterHead, .contentJumboDark, .contentJumboLight {
	padding: 80px 0;
}

.masterHead {
	background-color: $primary;
	color: white;

	.masterIcon {
		width: 144px;
		height: 144px;
		font-size: 100px;
		line-height: 140px;
		font-weight: 500;
		border-radius: 15%;
		border: 1px solid $veryLight;
	}

	h1 {
		small {
			color: $veryLight;
		}
	}
}

.contentJumboDark {
	background-color: $dark;
	color: white;

	h3 {
		small {
			color: $veryLight;
		}
	}

	p {
		margin-bottom: 50px;
	}
}

.contentJumboLight {
	background-color: white;
	color: $veryDark;
}