#educations {
	.row {
		margin-bottom: 30px;
	}

	.logoContainer {

		.logo {
			height: 157px;
		}
	}
}

#works {
	.thumbnail {
    opacity: 1;
    height: 200px;
    overflow: hidden;
		transition: all 0.3s ease;

		&:hover {
			border: 5px solid $light;
			padding: 0;
			transition: all 0.3s ease;

			.detailsBtn {
				position: absolute;
				right: 20px;
				bottom: 5px;
				border-bottom-right-radius: 0px;
				transition: all 0.3s ease;
			}
		}

		.aTag {
			display: block;

			img.websiteThumb {
				width: auto;
			}
		}

		.detailsBtn {
			position: absolute;
			right: 15px;
			bottom: 0px;
			margin-bottom: 0px;
			background-color: rgba(255, 255, 255, .9);
			border-bottom-left-radius: 0px;
			border-top-right-radius: 0px;
			transition: all 0.3s ease;

			@media (min-width: $screen-sm-min) {
        margin-bottom: 20px;
      }
		}
	}
}

#sectionIndicator {
	transition: all 1s ease;
	height: 50px;

	.active {
		transition: all 1s ease;
	}

	.affix {
		top: 0;
		width: 100%;
	}
}
