#education {
	.row {
		margin-bottom: 30px;
	}
	
	.logoContainer {

		.logo {
			height: 157px;
		}
	}
}

#works {
	.thumbnail {
	    overflow: hidden;
	    height: 200px;

		img.websiteThumb {
			width: auto;
		}

		&:hover {
			box-shadow: 0 0 5px $veryLight;
		}
	}
}

