#educations {
	.row {
		margin-bottom: 30px;
	}
	
	.logoContainer {

		.logo {
			height: 157px;
		}
	}
}

#works {
	.thumbnail {
	    overflow: hidden;
	    height: 200px;

	    opacity: 1;
		transition: opacity 0.5s ease;

		img.websiteThumb {
			width: auto;
		}

		&:hover {
			opacity: .7;
			transition: opacity 0.3s ease;
		}
	}
}

.masterHead, .contentJumboDark, .contentJumboLight {
	padding: 30px 0 50px 0;
}

@font-face {
	font-family: 'JetLinkMediumOldStamp';
	src: url('/resources/font/JetLinkMediumOldStamp.eot');
	src: url('/resources/font/JetLinkMediumOldStamp.eot?#iefix') format('embedded-opentype'),
	url('/resources/font/JetLinkMediumOldStamp.woff') format('woff'),
	url('/resources/font/JetLinkMediumOldStamp.ttf') format('truetype'),
	url('/resources/font/JetLinkMediumOldStamp.svg#JetLinkMediumOldStamp') format('svg');
	font-weight: normal;
	font-style: normal;
}

.masterHead {
	background-color: $primary;
	color: white;
	margin-bottom: 0;

	.masterIcon {
		width: 144px;
		height: 144px;

		line-height: 140px;

		padding-left: 10px;
		padding-top: 5px;

		font-size: 100px;
		font-weight: 500;
		color: $primary;
		font-family: 'JetLinkMediumOldStamp', Serif;

		border-radius: 15%;
		background: white;
	}

	h1 {
		small {
			color: $veryLight;
		}
	}
}

.contentJumboDark {
	background-color: $dark;
	color: white;

	h3 {
		small {
			color: $veryLight;
		}
	}

	p {
		margin-bottom: 50px;
	}
}

.contentJumboLight {
	background-color: white;
	color: $veryDark;
}

#sectionIndicator {
	transition: all 1s ease;
	height: 50px;

	.active {
		transition: all 1s ease;
	}

	.affix {
		top: 0;
		width: 100%;
	}
}

