.websiteDetailsJumbo {
  @extend .jumboPrime;

  vertical-align: center;
  padding-bottom: 30px;
  overflow: hidden;

  .titleContainer {
    text-align: center;

    @media (min-width: $screen-sm-min) {
      text-align: right;
    }

    h1 {
      padding-bottom: 50px;

      @media (min-width: $screen-sm-min) {
        line-height: 75px;
        padding-bottom: 0;
      }
      @media (min-width: $screen-md-min) {
        line-height: 75px;
      }
      @media (min-width: $screen-lg-min) {
        line-height: 100px;
      }
    }
  }

  .noPaddingAtExSm {
    @media (max-width: $screen-xs-min) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .imgContainer {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-xs-min) {
        height: 300px;
        overflow: hidden;
    }

    .monitor {
      height: 300px;
      display: none;

      @media (min-width: $screen-xs-min) {
        display: block;
        position: absolute;
        top: 0;
        z-index: 2;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
        left: 100px;
      }
    }

    .websiteContainer {
      height: 150px;
      width: 100%;
      overflow: hidden;
      padding: 0;

      @media (max-width: $screen-xs-min) {
        box-shadow: 0px 3px 20px rgba(0, 0, 0, .7);
      }

      @media (min-width: $screen-xs-min) {
        height: 215px;
        max-width: 360px;
        overflow: hidden;
        padding: 14px 15px;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
        position: absolute;
        width: 360px;
        left: 100px;
      }

      .website {
        width: 100%;
      }
    }
  }
}

#websiteDescription {
  .description {
    margin: 20px auto 50px auto;

    @media (min-width: $screen-md-min) {
      padding-left: 100px;
      padding-right: 100px;
    }
    @media (min-width: $screen-lg-min) {
      padding-left: 200px;
      padding-right: 200px;

      p {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      max-width: 90%;
    }

    .shadowImage {
      box-shadow: 0px 3px 20px rgba(0, 0, 0, .7);
    }
  }
}
