RewriteEngine on
RewriteCond %{HTTP_HOST} ^stoneisme\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.stoneisme\.com$
RewriteRule ^/?$ "http\:\/\/shiqingqi\.com" [R=301,L]

<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css|css)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>
