extends layout

//- block components
    link(rel="import", href="/elements/main.html", async)

block content
    div#first-paint
        header
            div.toolbar
                h1 Qingqi Shi
                nav
                    div.item About Me
                    div.item Projects
                    div.item Skill Set
    main-app
        
    script(src='/webcomponentsjs/webcomponents-loader.js', async)
    link(rel="import", href="/elements/main.html", async)
