doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title=title

        //- script(src='/webcomponentsjs/webcomponents-loader.js', async)
        block components

        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700', lazyload)
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
