body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

h1 {
  text-align: center;
  font-weight: 100;
  font-size: 10rem;
  margin-bottom: 2rem; }

p {
  text-align: center;
  font-weight: 100;
  font-size: 2rem; }
