@import 'colors';

html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: $text-primary-color;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

main-app {
    --main-app-primary-color: $primary-color;
    --main-app-secondary-color: $secondary-color;
    --main-app-text-primary-color: $text-primary-color;
}
