.hero-container {
  padding: 0 0 3rem;
}

.hero-container h1 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 800;
}

.hero-container p {
  margin: 0;
}

@media (min-width: 320px) {
  .hero-container {
    padding: 0 0 5rem;
  }

  .hero-container h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .hero-container {
    padding: 0 0 7rem;
  }

  .hero-container h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1080px) {
  .hero-container h1 {
    font-size: 3.5rem;
  }
}

.section-container h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  font-weight: 800;
}

.hero-skeleton {
  height: 20.3rem;
  padding: 0 0 3rem;
}
