@import "modern-normalize/modern-normalize.css" layer(normalize);

@font-face {
  font-family: "Inter";
  src: url("/InterVariableOptimized.woff2");
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  font-display: fallback;
  unicode-range: U+0000, U+0020-007E, U+00A0-00AC, U+00AE-00FF, U+0131,
    U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-200B, U+2010-2027,
    U+202F-2055, U+2057, U+205F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+FEFF;
}

@font-face {
  font-family: "Inter-fallback";
  size-adjust: 107%;
  ascent-override: 90%;
  src: local(
    "system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'"
  );
  unicode-range: U+0000, U+0020-007E, U+00A0-00AC, U+00AE-00FF, U+0131,
    U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-200B, U+2010-2027,
    U+202F-2055, U+2057, U+205F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+FEFF;
}

@layer normalize {
  html {
    min-height: 100dvh;
  }

  body {
    min-height: 100dvh;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  input[type="checkbox"] {
    width: unset;
    height: unset;
  }

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  canvas {
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-perspective: 1000;
  }

  ::view-transition-group(*),
  ::view-transition-new(*),
  ::view-transition-old(*) {
    animation-timing-function: linear(
      0,
      0.002,
      0.01 3.6%,
      0.034,
      0.074 9.1%,
      0.128 11.4%,
      0.194 13.4%,
      0.271 15%,
      0.544 18.3%,
      0.66 20.6%,
      0.717 22.4%,
      0.765 24.6%,
      0.808 27.3%,
      0.845 30.4%,
      0.883 35.1%,
      0.916 40.6%,
      0.942 47.2%,
      0.963 55%,
      0.979 64%,
      0.991 74.4%,
      0.998 86.4%,
      1
    );
    animation-duration: 300ms;
  }
}

/**
 * The @stylex directive is used by the @stylexjs/postcss-plugin.
 * It is automatically replaced with generated CSS during builds.
 */
@stylex;
