.top-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.university {
  font-size: 0.8rem;
  font-weight: 800;
  margin-left: 0.5rem;
  color: var(--text-subdued);
  width: 60%;
}

.logo {
  height: 9.375rem;
  width: 40%;
}

.skeleton {
  height: 9.375rem;
}

.logo svg {
  height: 100%;
  max-width: 100%;
}

.logo img,
.logo picture {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media (min-width: 320px) {
  .logo,
  .skeleton {
    height: 7.2rem;
  }
}

@media (min-width: 768px) {
  .logo,
  .skeletonÎ {
    height: 5rem;
  }
}

.dates {
  font-size: 0.6rem;
  font-weight: 600;
  color: var(--text-subdued);
}
