.dates {
  font-size: 0.6rem;
  font-weight: 600;
  color: var(--text-subdued);
}

.logo {
  margin-bottom: 0.5rem;
}

.logo svg {
  height: 5.5rem;
  max-width: 100%;
}

.skeleton {
  height: 5.5rem;
}

@media (min-width: 320px) {
  .logo svg,
  .skeleton {
    height: 4.4rem;
  }
}

@media (min-width: 768px) {
  .logo svg,
  .skeleton {
    height: 3rem;
  }
}
