.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 calc(1rem + env(safe-area-inset-left)) 0
    calc(1rem + env(safe-area-inset-right));
}

@media (min-width: 2000px) {
  .wrapper {
    max-width: calc((1080 / 24) * 1rem);
  }
}

.wrapper-inner {
  position: relative;
}

.lines-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  opacity: 0.24;
}

.line {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.0625rem;
  background-image: linear-gradient(
    var(--text-subdued) 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: right;
  background-size: 0.0625rem 0.3125rem;
  background-repeat: repeat-y;
}

.line:nth-child(1) {
  display: block;
  left: 0;
}
.line:nth-child(2) {
  display: block;
  left: 100%;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  z-index: 100;
  pointer-events: none;
}

.header {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;
}

.header > * {
  pointer-events: all;
}

.offline-text {
  margin-left: 0.5rem;
}

.main {
  padding-top: 7rem;
}

@media (min-width: 320px) {
  .main {
    padding-top: 10rem;
  }
}

@media (min-width: 768px) {
  .main {
    padding-top: 12rem;
  }
}

.section-container h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  font-weight: 800;
}

.back {
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 2rem;
}

.back svg {
  filter: drop-shadow(0 0 0.625rem var(--background-main));
}

.header > *:not(:last-child) {
  margin-right: 1rem;
}

@media (min-width: 320px) {
  .wrapper {
    padding: 0 calc(1.2rem + env(safe-area-inset-left)) 0
      calc(1.2rem + env(safe-area-inset-right));
  }

  .line:nth-child(2) {
    left: 50%;
  }
  .line:nth-child(3) {
    display: block;
    left: 100%;
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 calc(1.4rem + env(safe-area-inset-left)) 0
      calc(1.4rem + env(safe-area-inset-right));
  }

  .line:nth-child(2) {
    left: 33.3%;
  }
  .line:nth-child(3) {
    left: 66.6%;
  }
  .line:nth-child(4) {
    display: block;
    left: 100%;
  }
}

@media (min-width: 1080px) {
  .wrapper {
    padding: 0 calc(1.7rem + env(safe-area-inset-left)) 0
      calc(1.7rem + env(safe-area-inset-right));
  }

  .line:nth-child(2) {
    left: 25%;
  }
  .line:nth-child(3) {
    left: 50%;
  }
  .line:nth-child(4) {
    left: 75%;
  }
  .line:nth-child(5) {
    display: block;
    left: 100%;
  }
}

.flow-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10rem;
}

@media (min-width: 320px) {
  .flow-gradient {
    height: 14rem;
  }
}

@media (min-width: 768px) {
  .flow-gradient {
    height: 17rem;
  }
}

@media (min-width: 1080px) {
  .flow-gradient {
    height: 19rem;
  }
}
