$black: #0a090c;
$white: #ffffff;
$grey: #07393c;
$green: #2c666e;
$blue: #90ddf0;
$red: #ff413a;
$purple: #a739c9;
$orange: #d68f32;

$black-rgb: 10, 9, 12;
$white-rgb: 255, 255, 255;
$grey-rgb: 7, 57, 60;
$green-rgb: 44, 102, 110;
$blue-rgb: 144, 221, 240;
$red-rgb: 255, 65, 5;
$purple-rgb: 167, 57, 201;
$orange-rgb: 214, 143, 50;
