$palette: #e0145f, #a739c9, #209e50, #62be33, #f39c12;

$black: #0A090C;
$white: #F0EDEE;
$grey: #07393C;
$green: #2C666E;
$blue: #90DDF0;

$black-rgb: 10, 9, 12;
$white-rgb: 240, 237, 238;
$grey-rgb: 7, 57, 60;
$green-rgb: 44, 102, 110;
$blue-rgb: 144, 221, 240;