$black: #0a090c;
$white: #f0edee;
$grey: #07393c;
$green: #2c666e;
$blue: #90ddf0;
$red: #e0145f;
$purple: #a739c9;

$black-rgb: 10, 9, 12;
$white-rgb: 240, 237, 238;
$grey-rgb: 7, 57, 60;
$green-rgb: 44, 102, 110;
$blue-rgb: 144, 221, 240;
