@mixin small-shadow {
    box-shadow: 0 2px 2px 0 rgba(44, 44, 44, 0.14),
        0 3px 1px -2px rgba(44, 44, 44, 0.12), 0 1px 5px 0 rgba(44, 44, 44, 0.2);
}

@mixin medium-shadow {
    box-shadow: 0 8px 17px 2px rgba(44, 44, 44, 0.14),
        0 3px 14px 2px rgba(44, 44, 44, 0.12),
        0 5px 5px -3px rgba(44, 44, 44, 0.2);
}

@mixin large-shadow {
    box-shadow: 0 24px 38px 3px rgba(44, 44, 44, 0.14),
        0 9px 46px 8px rgba(44, 44, 44, 0.12),
        0 11px 15px -7px rgba(44, 44, 44, 0.2);
}

@mixin small-shadow-opacity($opacity) {
    box-shadow: 0 2px 2px 0 rgba(44, 44, 44, calc(var(#{$opacity}) * 0.14)),
        0 3px 1px -2px rgba(44, 44, 44, calc(var(#{$opacity}) * 0.12)),
        0 1px 5px 0 rgba(44, 44, 44, calc(var(#{$opacity}) * 0.2));
}

@mixin medium-shadow-opacity($opacity) {
    // color: rgba(44, 44, 44, calc(var(#{$opacity}) * 0.14));
    box-shadow: 0 8px 17px 2px rgba(44, 44, 44, var(#{$opacity})),
        0 3px 14px 2px rgba(44, 44, 44, var(#{$opacity})),
        0 5px 5px -3px rgba(44, 44, 44, var(#{$opacity}));
    box-shadow: 0 8px 17px 2px rgba(44, 44, 44, var(#{$opacity}));
}

@mixin large-shadow-opacity($opacity) {
    box-shadow: 0 24px 38px 3px rgba(44, 44, 44, calc(var(#{$opacity}) * 0.14)),
        0 9px 46px 8px rgba(44, 44, 44, calc(var(#{$opacity}) * 0.12)),
        0 11px 15px -7px rgba(44, 44, 44, calc(var(#{$opacity}) * 0.2));
}
