@import './utils';

/** slide-down **/
.slide-down-enter-active,
.slide-down-leave-active {
    transition: transform 0.5s, opacity 0.5s;
}

.slide-down-enter,
.slide-down-leave-to {
    transform: translate3d(0, -5rem, 0);
    opacity: 0;
}

/** slide-up **/
.slide-up-enter-active,
.slide-up-leave-active {
    transition: transform 0.5s, opacity 0.5s;
}

.slide-up-enter,
.slide-up-leave-to {
    transform: translate3d(0, 5rem, 0);
    opacity: 0;
}

/** slide-left **/
.slide-left-enter-active,
.slide-left-leave-active {
    transition: transform 0.5s, opacity 0.5s;
}

.slide-left-enter,
.slide-left-leave-to {
    transform: translate3d(5rem, 0, 0);
    opacity: 0;
}

/** slide-right **/
.slide-right-enter-active,
.slide-right-leave-active {
    transition: transform 0.5s, opacity 0.5s;
}

.slide-right-enter,
.slide-right-leave-to {
    transform: translate3d(-5rem, 0, 0);
    opacity: 0;
}

/** text-reveal **/
.text-reveal-enter,
.text-reveal-leave-to {
    clip-path: inset(0 100% 0 0);
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $blue;
        clip-path: inset(0 100% 0 0);
    }
}

.text-reveal-enter-active,
.text-reveal-leave-active {
    clip-path: inset(0 100% 0 0);
    position: relative;
    animation: reveal 0.3s;
    animation-fill-mode: forwards;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $blue;
        clip-path: inset(0 100% 0 0);
        animation: revealer 0.3s;
        animation-fill-mode: forwards;
    }
}

@keyframes reveal {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes revealer {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 0 0 100%);
    }
}

/** fade-in **/
.fade-in-enter-active,
.fade-in-leave-active {
    transition: opacity 0.5s;
}

.fade-in-enter,
.fade-in-leave-to {
    opacity: 0;
}
