:root {
  --font-family: 'Inter', sans-serif;
  --text-main: #292929;
  --text-subdued: #505050;
  --background-main: #f3eded;
  --shadow-none: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
  --shadow-raised: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.15),
    0 0.375rem 0.5rem rgba(0, 0, 0, 0.2);
}

html,
body {
  margin: 0;
  font-size: 16px;
  background-color: var(--background-main);
}

body {
  box-sizing: border-box;
  color: var(--text-main);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 calc(1rem + env(safe-area-inset-left)) 0
    calc(1rem + env(safe-area-inset-right));
}
* {
  box-sizing: inherit;
}

@media (min-width: 320px) {
  body {
    padding: 0 calc(1.2rem + env(safe-area-inset-left)) 0
      calc(1.2rem + env(safe-area-inset-right));
  }
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  body {
    padding: 0 calc(1.4rem + env(safe-area-inset-left)) 0
      calc(1.4rem + env(safe-area-inset-right));
  }
  html,
  body {
    font-size: 20px;
  }
}

@media (min-width: 1080px) {
  body {
    padding: 0 calc(1.7rem + env(safe-area-inset-left)) 0
      calc(1.7rem + env(safe-area-inset-right));
  }
  html,
  body {
    font-size: 24px;
  }
}

a {
  color: var(--text-main);
  font-weight: 600;
}

a:hover {
  color: var(--text-subdued);
  font-weight: 600;
  text-decoration-thickness: 0.15rem;
}
