@import-normalize;

:root {
  --font-family: "Inter", sans-serif;
  --text-main: #292929;
  --text-subdued: #505050;
  --background-main: #f3eded;
  --background-raised: #f3eded;
  --control-track: #ccc5c5;
  --control-thumb: #ffffff;
  --control-active: #003faf;
  --shadow-none: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
  --shadow-raised: 1.5px 1.9px 3.5px rgba(0, 0, 0, 0.02),
    3.6px 4.5px 8.4px rgba(0, 0, 0, 0.028),
    6.8px 8.5px 15.9px rgba(0, 0, 0, 0.035),
    12.1px 15.2px 28.4px rgba(0, 0, 0, 0.042),
    22.6px 28.4px 53.1px rgba(0, 0, 0, 0.05),
    54px 68px 127px rgba(0, 0, 0, 0.07);
  --shadow-controls: 0px 0.1px 0.3px rgba(0, 0, 0, 0.02),
    0px 0.2px 0.7px rgba(0, 0, 0, 0.028), 0px 0.4px 1.4px rgba(0, 0, 0, 0.035),
    0px 0.7px 2.5px rgba(0, 0, 0, 0.042), 0px 1.3px 4.6px rgba(0, 0, 0, 0.05),
    0px 3px 11px rgba(0, 0, 0, 0.07);
  --shadow-highlight: 0 0 0 0.3rem rgba(0, 0, 0, 0.07);
}

.dark {
  --text-main: #f3eded;
  --text-subdued: #bbbbbb;
  --background-main: #292929;
  --background-raised: #414141;
  --background-hover: #535353;
  --control-thumb: #bbbbbb;
  --control-track: #ccc5c5;
  color-scheme: dark;
}

html,
body {
  margin: 0;
  font-size: 16px;
  background-color: var(--background-main);
}

body {
  box-sizing: border-box;
  color: var(--text-main);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: inherit;
}

@media (min-width: 320px) {
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  html,
  body {
    font-size: 20px;
  }
}

@media (min-width: 1080px) {
  html,
  body {
    font-size: 24px;
  }
}

a {
  color: var(--text-main);
  font-weight: 600;
}

a:hover {
  color: var(--text-subdued);
  font-weight: 600;
  text-decoration-thickness: 0.15rem;
}
