@import-normalize;

:root {
  --font-family: "Inter", sans-serif;
  --text-main: #292929;
  --text-subdued: #505050;
  --background-main: #f3eded;
  --background-raised: #f7f1f1;
  --background-hover: #e6dddd;
  --control-track: #ccc5c5;
  --control-thumb: #ffffff;
  --control-active: #7e10c2;
  --text-on-active: #ffffff;
  --shadow-none: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
  --shadow-raised: 0.09375rem 0.11875rem 0.21875rem rgba(0, 0, 0, 0.02),
    0.225rem 0.28125rem 0.525rem rgba(0, 0, 0, 0.028),
    0.425rem 0.53125rem 0.99375rem rgba(0, 0, 0, 0.035),
    0.75625rem 0.95rem 1.775rem rgba(0, 0, 0, 0.042),
    1.4125rem 1.775rem 3.31875rem rgba(0, 0, 0, 0.05),
    3.375rem 4.25rem 7.9375rem rgba(0, 0, 0, 0.07);
  --shadow-controls: 0 0.00625rem 0.01875rem rgba(0, 0, 0, 0.02),
    0 0.0125rem 0.04375rem rgba(0, 0, 0, 0.028),
    0 0.025rem 0.0875rem rgba(0, 0, 0, 0.035),
    0 0.04375rem 0.15625rem rgba(0, 0, 0, 0.042),
    0 0.08125rem 0.2875rem rgba(0, 0, 0, 0.05),
    0 0.1875rem 0.6875rem rgba(0, 0, 0, 0.07);
  --shadow-highlight: 0 0 0 0.3rem rgba(0, 0, 0, 0.07);
}

.dark {
  --text-main: #f3eded;
  --text-subdued: #bbbbbb;
  --background-main: #292929;
  --background-raised: #414141;
  --background-hover: #535353;
  --control-thumb: #bbbbbb;
  --control-track: #ccc5c5;
  --control-active: #933bc9;
  --text-on-active: #ffffff;
  color-scheme: dark;
}

html,
body {
  margin: 0;
  font-size: 16px;
  background-color: var(--background-main);
}

body {
  box-sizing: border-box;
  color: var(--text-main);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: inherit;
}

@media (min-width: 320px) {
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  html,
  body {
    font-size: 20px;
  }
}

@media (min-width: 1080px) {
  html,
  body {
    font-size: 24px;
  }
}

@media (min-width: 2000px) {
  html,
  body {
    font-size: calc(24 / 2000 * 100vw);
  }
}

a {
  color: var(--text-main);
  font-weight: 600;
}

a:hover {
  color: var(--text-subdued);
  font-weight: 600;
  text-decoration-thickness: 0.15rem;
}
