name: PR Build
on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
          cache: 'yarn'
      - run: yarn install
      - run: yarn lint
      - run: yarn build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        if: '${{ github.event.pull_request.head.repo.full_name == github.repository }}'
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_SHIQINGQI_27CAB }}'
          projectId: shiqingqi-27cab
          expires: 1d
